PORT = 800
MONGO_URL = hell_nah
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = sike-Lol
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = Lol-sike
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME =  getyourown
CLOUDINARY_API_KEY =  ownyourget
CLOUDINARY_API_SECRET =  yourgetown

